<?
	 /* Comments are like in C, C++ or BASH*/
	 set_style('blue.css');    // Use the file "blue.css"

	 add_image('menu_line','Pictures/line_blue.gif','line');
    add_image('upperleft', 'Pictures/decoration_ul_blue.gif', 'Decoration');
    add_image('upperright', 'Pictures/dtu_logo_ur_blue.png', 'Technical University of Denmark','http://www.dtu.dk/');
    add_image('middleright', 'Pictures/tutorial_logo_blue.png', 'Tutorial');
    add_bottom_text('Written by <a class="navigation" href="http://www.oersted.dtu.dk/personal/sn/">Svetoslav Nikolov</a>');
    set_title('Tutorial: Create Home Pages with H-PaGe');

?>

