<?

#set_title("Text") set the title of the web page
set_title("Home Page Generator in PHP");


#set_style('file name')
#   Choose a file which contains the style sheet with the
#   definition of colors. It can be a full web address
set_style('red.css');


#set_page_icon('file name')
#   Choose a picture for a page icon
#
set_page_icon('.pictures//hpage_icon.ico');


#  show_updated('true') or show_updated('false')
#       if "show_updated" is called with a parameter 'true', then the last update
#       time is shown. If the function is not called at all, or called with a parameter
#       'false', then the last update date is not shown.

show_updated('true');

# set_home_text('text') changes the default text "Home" which is used
# to denote the "Home" of the web site.
set_home_text('H-PaGe Home');


# 
#	This file defines the pictures shown in the web page.
#	The web page can be divided into the following regions:
#	
#	+------------+--------------------------------------+
#	| upperleft  |    upperright                        |
#	+------------+--------------------------------------+
#	| middleleft |    middleright                       |
#	+------------+--------------------------------------+
#	|            |                                      |
#	|            |                                      |
#	|            |                                      |
#	+------------+--------------------------------------+
#	| lowerleft  |                                      |
#	+------------+--------------------------------------+
#	
#	The variables with extension "_alt" contain the 
#	text which is displayed instead of the picture.
#	
#	The variables with extension "_link" contain eventual links.
#	
#	bordercolor - specifies the color of the table border
#	border - specifies what type of border is present
#	menu_line1 - specifies the picture for the lines in the menu.
#
# 
 
# add_image('position', 'file', 'description', 'link', 'alternative text');

 add_image('upperleft', '.pictures/decoration_ul_red.gif', 'Decoration');
 add_image('upperright', '.pictures/dtu_logo_ur_red.png', 'Technical University of Denmark','http://www.dtu.dk/');
 add_image('middleleft', '.pictures/picture_ml_tu.jpg', 'TU Sofia');
 add_image('middleright', '.pictures/hpage_logo_red.png', 'Home Page Generator');
 add_image('lowerleft', '.pictures/picture_ll.jpg', 'PCB');
 add_image('menu_line','.pictures/line_red.gif','Line');


 add_menu('top', "Author's Page", '../');
 add_menu('top', 'Ørsted*DTU', 'http://server.elektro.dtu.dk','',1);
 add_menu('top', 'ES Section', 'http://www.es.oersted.dtu.dk', '',1);
 add_menu('top', 'Campus Net', 'http://www.campusnet.dtu.dk','',1);

set_substitute('true');
add_menu('left', "User's Guide", 'doc');
add_menu('left', 'Used Pictures', '.pictures/');
add_menu('left', 'Used Files', '', 'files.html');
add_menu('left', 'Example Home Page','http://server.elektro.dtu.dk/personal/sn/hpage/examples/home_page/');
add_menu('left', 'Tutorial','http://server.elektro.dtu.dk/personal/sn/hpage/tutorial/');

add_menu('left','','');
add_menu('left','License','License');
add_menu('left','Revision History', '','revision_history.txt');
add_menu('left','Version A_(Old Version)','http://www.es.oersted.dtu.dk/~sn/HPaGe');
set_substitute('false');

add_menu('left','','');
add_menu('left', 'Create<br>Upper Right Image', './create_logos', 'upperright_image.html');
add_menu('left', 'Create<br>Middle Right Image', './create_logos', 'middleright_image.html');

add_menu('left','','');
add_menu('left','Download<br>Program','http://server.elektro.dtu.dk/personal/sn/hpage/','hpage.tar.gz');
add_menu('left','Download<br>Documentation','http://server.elektro.dtu.dk/personal/sn/hpage/','doc.tar.gz');
add_menu('left', 'Download Example<br>Home Page', 'http://www.elektro.dtu.dk/personal/sn/hpage/','examples_home_page.tar.gz');


add_menu('bottom', 'Elektro*DTU', 'http://server.elektro.dtu.dk','',1);
add_menu('bottom', 'ES Section', 'http://www.es.oersted.dtu.dk','',1);
add_menu('bottom', 'Campus Net', 'http://www.campusnet.dtu.dk','',1);
add_menu('bottom', 'Web Mail', 'http://www3.es.oersted.dtu.dk/webmail/src/login.php','',1);
add_menu('bottom', 'Center for Fast<br>Ultrasound Imaging', 'http://www.es.oersted.dtu.dk/bme/cfu','',1);


?>
