<?

/**********************************************************
    Define the  decorations.  All pictures are in
	 the subdirectory ".pictures"
	 
	+------------+--------------------------------------+
	| upperleft  |    upperright                        |
	+------------+--------------------------------------+
	| middleleft |    middleright                       |
	+------------+--------------------------------------+
	|            |                                      |
	|            |                                      |
	|            |                                      |
	+------------+--------------------------------------+
	| lowerleft  |                                      |
	+------------+--------------------------------------+
	 
 **********************************************************/
 add_image('upperleft', '.pictures/decoration_ul_red.gif', 'Decoration');
 add_image('upperright', '.pictures/dtu_logo_ur_red.png', 'Technical University of Denmark','http://www.dtu.dk');
 add_image('middleleft', '.pictures/picture_ml_oersted.png', 'Ørsted');
 add_image('middleright', '.pictures/hc_logo_red.png', 'H. C. Ørsted Logo');
 add_image('lowerleft', '.pictures/kompas.jpg', 'Compas');
 add_image('menu_line','.pictures/line_red.gif','Line');


/*********************************************************************
	Add menu definitions.
	The following menu definitions are available:
       +------------+--------------------------------------+
       |            |                                      |
       +------------+--------------------------------------+
       |            |   top                                |
       +------------+--------------------------------------+
       | left       |                                      |
       |            |                                      |
       |            |                                      |
       +------------+--------------------------------------+
       |            |   bottom                             |
       +------------+--------------------------------------+
 *********************************************************************/
 add_menu('top', 'ES Section', 'http://www.es.oersted.dtu.dk'); 
 add_menu('top', 'Ørsted-DTU', 'http://www.oersted.dtu.dk'); 
 add_menu('top', 'Campus Net', 'http://www.oersted.dtu.dk');
 add_menu('top', 'H-PaGe', '../..');   // Relative link
 
 
 // Show the text "Last updated"
 show_updated('true');
 
 // Use  red color scheme
 set_style('red.css');

 // Display some meaningful text on the bottom
 add_bottom_text('&nbsp;Page maintained by <a class="navigation" href="mailto:sn@oersted.dtu.dk">Svetoslav Nikolov</a>'); 
?>
